*{
    margin:0;
    padding:0;
    box-sizing: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --- PRINCIPIO DE index.html ----- */

/* --- HEADER --- */

.header{
    background-color: #ff6f00d8;
    padding: 40px;
    overflow: hidden;
    position: sticky;
    height: 7vh;
    display: grid;
    grid-template-columns:14% 86%;
    grid-template-rows: 100%;
    align-items: center;
}

.nav__list{
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.header__titulo{
    color: #6801CF;
    text-align: center;
    transition: all 500ms cubic-bezier(.01,1.6,1,-0.83) 
}

.header__titulo:hover{
    text-shadow:0px 0px 15px;
    transform:scale(1.4) skewX(10deg);
}

.nav__item{
    color: #6801CF;
    font-size: 1.3rem;
    transition: all 300ms ease-in-out
}

.nav__item:hover{
    font-weight: bold;
    transform:scale(1.2) rotate(3deg);
    text-shadow:5px 2px 10px black
}

@media (max-width:1200px){
    .header{
        grid-template-columns:100%;
        grid-template-rows:repeat(2,1fr);
        justify-items: center;
    }
    
    .nav__list{
        gap:15px;
    }
    
    .nav__item{
        font-size:1.1rem;
    }

    }

/* --- PORTADA --- */

.portada{
    background-image: url(../img/fondoportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.portada__contenedor{
    display: flex;
    background-color: #ff6f00bd;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.portada__titulo{
    font-size: 2.3rem;
    color: #6801CF;
    border: 1.8px solid ;
    border-radius: 5px;
    padding: 15px;
    animation:portada 1s linear
}

@keyframes portada{
    0%{
        transform:translateY(-300px);
        box-shadow:5px 5px 8px 10px blue
    }
    100%{
        transform:translateY(0px);
    }
}

@media (max-width:1200px){
    .portada__titulo{
        font-size: 1.7rem;
        margin: 15px;
    }
}
/* --- SECCIONES --- */

.contenedor__secciones{
    background-image: linear-gradient(#ee7417da, #FF6D00);
    height: 70vh;
    width: 100%;
    overflow:hidden;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows:100%;
    grid-template-areas:
    "acerca-de-nosotros ultimos-ingresos"
    ;
    justify-items: center;
}

.section{
    margin: 20px;
    grid-area:acerca-de-nosotros
}

.section--2{
    margin: 20px;
    grid-area:ultimos-ingresos
}


.section__titulo{
    font-size: 2.3rem;
    color: #9D4EDD;
    text-align: center;
    margin-bottom: 15px;
    animation: section-titulos 1.5s ease-in;
}

.section__parrafo{
    color: #3C096C;
    text-align: justify;
    font-size: 1.4rem;
    animation: section-parrafo 1.6s ease-in;
}

@keyframes section-parrafo{
    0%{
        transform:translateX(-400px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes section-titulos{
    0%{
        transform:translateY(-100px);
    }
    60%{
        text-shadow: 2px 2px 10px blue, 4px 4px,6px 6px red;
    }
    100%{
        transform:translateY(0px);
    }
}

@media (max-width:1200px){
    .contenedor__secciones{
        height: 230vh;
        grid-template-columns:100%;
        grid-template-rows:20% 80%;
        grid-template-areas:
        "acerca-de-nosotros"
        "ultimos-ingresos"
        ;
    }

    .section__titulo{
        font-size:1.8rem;
    }

    .section__parrafo{
        font-size:1.2rem;
    }
}

/* --- TARJETAS --- */

.contenedor__tarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:100%;
    animation:tarjetas 1.6s ease-in;
}

.tarjetas{
    width: 230px;
    height: 420px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 3px solid #9D4EDD;
    padding: 5px;
    transition: all 350ms ease-in
}

.tarjetas:hover{
    transform:scale(1.2);
}

.tarjetas__titulo{
color: #3C096C;
text-align: center;
font-size: 1.4rem;
}

.tarjetas__img{
    width: 100%;
    height: 50%;
}

.tarjetas__item{
    color: #6801CF;
}

.tarjetas__boton{
    background-color: #5A189A;
    align-self: center;
    margin-top: 20px;
    padding: 6px 9px;
    border-radius: 11px;
    color: #FF6D00;
    transition:all 300ms ease-in 50ms
}

.tarjetas__boton:hover{
background-color:#9D4EDD;
color:#FF9E00;
transform:scale(1.2);
box-shadow:0px 0px 20px 5px whitesmoke;
}

@keyframes tarjetas{
    0%{
        transform:translateY(400px);
    }
    100%{
        transform:translateY(0px);
    }
}

@media (max-width:1200px){
    .contenedor__tarjetas{
        grid-template-columns:100%;
        grid-template-rows:repeat(3,1fr)
    }
}

/* --- FOOTER --- */

.footer{
    height: 10vh;
    background-image: linear-gradient(#FF6D00,#0B0500);
    overflow: hidden;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:100%;
    gap:80px
}

.footer__contenedor{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top:25px;
    margin-left: 40px;
}

.footer__contenedor--medio{
    align-self: center;
    color:#240046;
    width: 300px;
}

.footer__contenedor--final{
    justify-content: flex-end;
    display: flex;
    gap:20px;
    margin-right: 50px;
    margin-top: 10px;
}

.footer__titulo{
    color: #240046;
}

.footer__copyright{
    font-size: 1.2rem;
}

.footer__item{
    font-size: 1.2rem;
    transition: all 300ms ease-in-out
}

.footer__item:hover{
    font-weight: bold;
    transform:scale(1.2) rotate(-3deg);
    text-shadow:0px 0px 7px black
}

.footer__redsocial{
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    display:flex;
    transition:all 300ms;
}

.footer__redsocial:hover{
    transform: scale(1.3);
}

@media (max-width:1200px){
    .footer{
        height: 25vh;
        grid-template-columns:100%;
        grid-template-rows:repeat(3,1fr);
        gap:10px;
        justify-items:flex-start;
        padding-left:5px;
    }

    .footer__contenedor{
        gap: 12px;
        margin-top:10px;
        margin-left: 0px;
        margin-right:6px;
    }

    .footer__copyright{
        font-size: 1.05rem;
    }
    
    .footer__item{
        font-size: 1.05rem;
    }
}

/* ----- FIN DE index.html ----- */

/* ----- quienessomos.html ----- */

.contenedormain{
    display: flex;
    overflow: hidden;
    height:80vh;
    background-color: #ff6f00b6;
    justify-content: center;
}

.sectionA{
    gap:15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:100%;
    align-items:center;
}

.section__articleA{
width: 580px;
height:580px;
border: #9D4EDD solid;
display: grid;
grid-template-columns:100%;
grid-template-rows:repeat(3,1fr);
justify-items: center;
padding-bottom: 20px;
}

.section__titleA{
    color: #240046;
    font-size: 1.8rem;
}

.section__textoA{
    color:#6801CF;
    margin-bottom: 10px;
    font-size: 1.15rem;
    text-align:center;
}

.section__contenedorImagen{
width: 550px;
height: 450px;
}

.section__imagenA{
    width: 100%;
    height: 100%;
}

.section__articleA--1{
    animation: section1qs 1.2s
}

.section__articleA--2{
    animation: section2qs 1.2s
}


@keyframes section1qs{
    0%{
        transform:translateX(-500px)
    }
    100%{
        transform:translateX(0px)
    }
}

@keyframes section2qs{
    0%{
        transform:translateX(500px)
    }
    100%{
        transform:translateX(0px)
    }
}

@media (max-width:1200px){

    .contenedormain{
        height: 160vh;
    }

    .sectionA{
        gap:10px;
        margin-bottom: 8px;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows:repeat(2,1fr);
        align-items:center;
    }

    .section__articleA{
        width: 350px;
    }

    .section__contenedorImagen{
        width: 320px;
        height: 400px;
    }

    .section__titleA{
        font-size:1.5rem;
    }

    .section__textoA{
        font-size:1.1rem;
    }
}

/* ----- adopta-aqui.html ----- */

.contenedormain--adopta{
    display: flex;
    overflow: hidden;
    height: 150vh;
    background-color: #ff6f00b6;
    align-items: center;
    justify-content: center;
}

.section__mastarjetas{
    margin: 30px;
}

.contenedor__tarjetas--mas{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    animation:tarjetas 1s;
}

@media (max-width:1200px){
    .contenedormain--adopta{
        height: 300vh;
    }
}

/* --- transitos.html ----- */

.contenedormain--form{
    display: flex;
    overflow: hidden;
    height: 740px;
    background-color: #ff6f00b6;
}

.article{
    width: 50%;
    animation: transitos 1.5s linear;
}


.article__title{
    margin-left: 12px;
    color:#240046;
    margin-top: 20px;
    font-size: 1.6rem;
}

.article__texto{
    padding: 15px;
    color:#6801CF;
    font-size: 1.2rem;
}

/* ----- FORMULARIO ----- */

.formulario{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 20px;
    padding: 10px;
    border: #7B2CBF solid 4px;
    animation: transitos 1.5s linear;
}

.formulario__titulo{
    color:#240046;
}

.formulario__campo{
    padding: 7px;
    margin: 10px;
    color: #7a2cbf;
    font-size: 1.1rem;
}

.formulario__label{
    color:#240046;
    font-size: 1.2rem;
}

.formulario__texto{
    color: #240046;
}

.formulario__boton{
    background-color: #9D4EDD;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    color: #FF6D00;
    font-size: 1.01rem;
    transition: all 300ms linear;
}

.formulario__boton:hover{
    background-color:#7B2CBF;
    font-weight: bold;
    width: 153px;
    height: 63px;
    transform:scale(1.1);
    box-shadow:0px 0px 10px 5px whitesmoke;
}

@keyframes transitos{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

/* ----- donaciones.html ----- */

.contenedormain--D{
    display: flex;
    overflow: hidden;
    height: 692.5px;
    background-color: #ff6f00b6;
    flex-direction: column;
    align-items: center;
}

.donaciones__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 50px;
    align-items: center;
    width: 800px;
    margin-bottom: 70px;
}

.donaciones__titulo{
    color:#240046;
    animation: donaciones-titulo 1s ease-out;
}

.donaciones__parrafo{
    padding-top: 15px;
    color:#6801CF;
    font-size: 1.3rem;
    animation: donaciones-parrafo 1s ease-in;
}

.donaciones__caja{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    border:1px solid #9D4EDD;
    border-radius: 20px;
    background-color: #9D4EDD;
    animation: donaciones 1.5s linear;
    transition: all 500ms
}

.donaciones__caja:hover{
    transform: scale(1.15);
    box-shadow:2px 2px 18px 10px whitesmoke;
}

.donaciones__texto{
    color:#FF6D00;
    align-self: center;
    font-size: 1.5rem;
    padding-top: 10px;
}

.donaciones__imagen{
    height: 70px;
    width: 70px;
    padding-top: 100px;
}

@keyframes donaciones{
    0%{
        transform:rotate(0deg) scale(0.5);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes donaciones-parrafo{
    0%{
        transform:skew(180deg);
    }
    100%{
        transform:skew(0deg);
    }
}

@keyframes donaciones-titulo{
    0%{
        transform:translateY(-150px)
    }
    100%{
        transform:translateY(0px)
    }
}