.sectionC {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    overflow: hidden;
    height: 780px;
    background-color: $color-secundario;

    @include mobile {
        height: 1400px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
}

.article {
    animation: transitos 1.5s linear;

    &__title {
        margin-left: 12px;
        color: #240046;
        margin-top: 20px;
        font-size: 1.6rem;

        @include mobile {
            font-size: 1.4rem;
        }
    }

    &__texto {
        padding: 15px;
        color: $color-cuarto;
        font-size: 1.2rem;

        @include mobile {
            font-size: 1rem;
        }
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border: #7B2CBF solid 4px;
    animation: transitos 0.5s linear;

    &__titulo {
        color: #240046;
    }

    &__campo {
        padding: 7px;
        margin: 10px;
        color: #7a2cbf;
        font-size: 1.1rem;

        @include mobile {
            font-size: 1rem;
        }
    }

    &__label {
        color: #240046;
        font-size: 1.2rem;

        @include mobile {
            font-size: 1.1rem;
        }
    }

    &__texto {
        color: #240046;
    }

    &__boton {
        background-color: $color-terciario;
        border: none;
        border-radius: 15px;
        width: 150px;
        height: 60px;
        color: $color-primario;
        font-size: 1.01rem;
        transition: all 300ms linear;

        &:hover {
            background-color: #7B2CBF;
            font-weight: bold;
            width: 153px;
            height: 63px;
            transform: scale(1.1);
            box-shadow: 0px 0px 10px 5px whitesmoke;
        }
    }
}