@keyframes portada {
    0% {
        transform: translateY(-300px);
        box-shadow: 5px 5px 8px 10px blue
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes section-parrafo {
    0% {
        transform: translateX(-400px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes section-titulos {
    0% {
        transform: translateY(-100px);
    }

    60% {
        text-shadow: 2px 2px 10px blue, 4px 4px, 6px 6px red;
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes tarjetas {
    0% {
        transform: translateY(400px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes section1qs {
    0% {
        transform: translateX(-500px)
    }

    100% {
        transform: translateX(0px)
    }
}

@keyframes section2qs {
    0% {
        transform: translateX(500px)
    }

    100% {
        transform: translateX(0px)
    }
}

@keyframes transitos {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes donaciones-titulo {
    0% {
        transform: translateY(-150px)
    }

    100% {
        transform: translateY(0px)
    }
}